    <!--footer-->
    <section class="footer">
        <div class="row">
        <div class="col-lg-6">
            <p style="color:#EED180 ; display: inline;">Connect with us at:</p>
            <a target="_blank" href="https://thapar.edu/"><i class="fontaw fa-brands fa-safari fa-xl"></i></a>
            <a target="_blank" href="mailto:admissions@thapar.edu"><i class="fontaw social-icon fa-solid fa-envelope fa-xl"></i></a>
            <a target="_blank" href="https://instagram.com/tietofficial"><i class="fontaw social-icon fa-brands fa-instagram fa-xl"></i></a>
            <a target="_blank" href="https://twitter.com/TIETofficial"><i class="fontaw social-icon fa-brands fa-twitter fa-xl"></i></a>
        </div>
        <div class="col-lg-6">
        <p style="color:#EED180 ;">Email: mess.management@thapar.edu</p>
        
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><p style="color:#EED180 ;">Created By The Techies (3CO15) with 🖤 ⓒ 2022 All rights reserved.</p></div>
    </div>

    </section>
    <!--footer-->

    <script>
        const menuBtn = document.querySelector('.menu-btn')
        const navlinks = document.querySelector('.nav-links')

        menuBtn.addEventListener('click',()=>{
            navlinks.classList.toggle('mobile-menu')
        })
    </script>
    <script src="/src/script.js" type="text/jsx"></script>
</body>
</html>

<!-- https://colorhunt.co/palette/b93160d75281eed180fff89c -->