<%- include("../partials/messheader") -%>

    <header class="header" style="margin-top: 50px;">
        <div class="header-content">
            <h2>Live your Best hostel Moments</h2>
            <div class="line"></div>
            <h1>Hostel-O</h1>
        </div>
    </header>
    <!-- features -->
    <section style="z-index: -1;" id="features">
        <div class="row">
          <div class="col-lg-4 feature-box">
        <i class="icon fa-solid fa-circle-check fa-4x"></i>
        <h3 style="color:black ;">Easy to use.</h3>
        <p class="icon">So easy to use, whole schedule on your finger tips.</p>
    </div>
    <div class="col-lg-4 feature-box">
        <i class="icon fa-solid fa-lock fa-4x"></i>
        <h3 style="color:black ;">Secure</h3>
        <p class="icon">Your passwords are heavily encrypted before storing.</p>
      </div>
      <div class="col-lg-4 feature-box">
        <i class="icon fa-solid fa-comment-dots fa-4x"></i>
        <h3 style="color:black ;">All opinions Welcome!</h3>
        <p class="icon">Feel free to provide your valuable feedback/Request a change in the menu</p>
      </div>
    </div>
      </section>

<%- include("../partials/footer") -%>